{% extends 'base.html.twig' %}

{% block body %}
    <h2>Editar municipio</h2>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editar" class="btn btn-primary pull-right" />
    {{ form_end(edit_form) }}

    <ul class="pull-left">
        <li>
            <a href="{{ path('municipio_index') }}">Regresar al listado</a>
        </li>
    </ul>
{% endblock %}
