{% extends 'base.html.twig' %}

{% block body %}
<h2>Lista de Departamentos </h1>

<table class="table">
    <thead>
        <tr>
            <th>Departamento</th>
            <th width="20%">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for departamento in departamentos %}
        <tr>
            <td>{{ departamento.Departamento }}</td>
            <td>
                <a href="{{ path('departamento_show', { 'id': departamento.id }) }}">ver</a><br />
                <a href="{{ path('departamento_edit', { 'id': departamento.id }) }}">editar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('departamento_new') }}" class="btn btn-primary pull-left">Nuevo departamento</a>
{% endblock %}
